.heading {
    width: 100%;
    text-align: left;
}
.heading h3 {
    display: inline;
}
.heading button {
    float: right;
    border: 1px solid white;
}
#start_button {
    margin-top: 5px;
}
.footer {
    background-color: grey;
    color: white;
    line-height: 2;
    margin-bottom: 0px;
    bottom: 0px;
    position: sticky;
    width: 100%;
}
canvas {
    border-radius: 5px;
    box-shadow: 3px 3px 3px white;
    border: 2px solid white;
}